<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../public/page1.css">

  <style>
  </style>
  {{> head}}
</head>
<body>


  <h1>{{welcome}}</h1>


  <form class="modal-content animate" action="/image_form" method="POST">

    <div class="container">
      <h3>Type the name of the image below.</h3>
      <hr>

      <label for="image"><b>Image Name</b></label>
      <input type="text" placeholder="Enter image name" name="image" required>
    </div>

    <div class="container" style="background-color:#563d7c">
      <button type="submit">Search</button>
    </div>
  </form>


  <form class="modal-content1 animate" action="/card_form" method="POST">

    <div class="container">
      <h3>Please fill in a number.</h3>
      <hr>

      <label for="card"><b>number of cards</b></label>
      <input type="text" placeholder="Enter number of cards" name="card" required>
    </div>

    <div class="container" style="background-color:skyblue">
      <button type="submit">Go</button>
    </div>
  </form>


<script>
// Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>

<br>
<br>
{{>footer}}

</body>
</html>
